:root {
    --black: #2b2839;
    --blue: #ddebf8;
    --purple: #d8cefe;
    --personal-bg: #f4d8bb;
    --personal-fg: #291b15;
    --margin-color: #825640;
    --scale: 0.1;
 }

.profile--picture{
    width: calc(200px * (1 + var(--scale)));
    height: calc(180px * (1 + var(--scale)));
    object-fit: cover;
    object-position: top;
}

#personal-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--personal-fg);
    background-color: var(--personal-bg);
    border-bottom: 8px solid var(--margin-color);
    width: calc(450px * (1 + var(--scale)));
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    padding: 20px;
    padding: calc(20px * (1 + var(--scale)));
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.card--text{
    text-align: center;
    width: calc(200px * (1 + var(--scale)));
    margin-top: auto;
    margin-bottom: auto;
}

.border{
    /* border: 1px dotted black; */
}